/* 

*** media queries
*** common
*** valiable

*** visual
*** content
*** news
*** footer

*/



/*==================================================

*** media queries
==================================================*/

$sp: 600px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// @include sp{ /* < 600px */
// }



/*==================================================

*** valiable
==================================================*/

$key: #0185D0;



/*==================================================

*** common
==================================================*/

.wrap{
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;

    @include sp{ /* < 600px */
        width: 100%;
    }
}


.btn > a{
  padding: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: $key;
}

.btn > a:hover{
  opacity: 0.8;
}

h2, h3{
  font-size: 2.4rem;
  font-weight: bold;
}



/*==================================================

*** visual
==================================================*/

.visual{
  text-align: center;
}

.top-bg{
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0 0;
  background: $key;
}

.visual-bg{
  margin: 20px 30px;
  padding: 110px 20px;
  background: url(../img/img-4.jpg) no-repeat 100%/ cover;
}

.visual__box{
  padding: 30px;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
}

.visual__box > h1{
  font-size: 3rem;
  font-weight: bold;
  color: $key;
}

.visual__box > p{
  margin-top: 1rem;
}



/*==================================================

*** content
==================================================*/

.content{
  margin: 39px 20px 0;
}

.content > h2{
  text-align: center;
  color: $key;
}

.content__event{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  @include sp{ /* < 600px */
    display: block;
  }
}

.content__event__item{
  width: 31%;

  @include sp{ /* < 600px */
    width: 100%;
  }
}

.content__event__item:not(:first-of-type){
  @include sp{ /* < 600px */
    margin-top: 60px;
  }
}

.content__event__img{
  width: 100%;
}

.content__event__img > img{
  width: 100%;
  border-radius: 5px;
}

.content__event__item > time{
  display: block;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.content__event__item > h3{
  font-size: 1.78rem;
  text-transform: uppercase;
}

.content__event__item > .btn{
  margin-top: 30px;
}


.reminder{
  margin-top: 60px;
  padding: 30px;
  border-radius: 10px;
  background: $key;
  color: #fff;
}

.reminder > h2{
}

.reminder > p{
  margin: 16px 0;
}




/*==================================================

*** news
==================================================*/

.news{
  padding: 0 20px 0;
}

.news h2{
  margin: 56px 0 36px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: $key;
}

.news__box{
  display: flex;
  justify-content: space-between;

  @include sp{ /* < 600px */
      display: block;
  }
}

.news__box:not(:first-of-type){
  margin-top: 50px;
}

.news__box > img{
  width: 39%;
  @include sp{ /* < 600px */
      width: 100%;
  }
}

.news__box__detail{
  width: 55%;

  @include sp{ /* < 600px */
      margin-top: 20px;
      width: 100%;
  }
}

.news__box__detail > h3{
  font-size: 2rem;
  font-weight: bold;
}

.news__box__detail > p{
  margin-top: 10px;
}

.news__box__detail > .btn{
  margin-top: 35px;
}




/*==================================================

footer
==================================================*/

footer{
  margin-top: 66px;
}

.footer__sns{
  padding: 20px;
  background: $key;
}

.footer__sns > p{
  margin: 21px 0 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer__icons{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0 10px;
  // width: 180px;
}

.footer__sns__link{
  margin: 0 7px;
  width: 35px;

  @include sp{ /* < 600px */
      margin: 0 4px;
      width: 30px;
  }
}

.footer__sns__link > a{

}

.footer__sns__link img{
  width: 100%;
}

.footer__bottom{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 34px 10px;
  text-align: center;
  font-size: 1.4rem;

  @include sp{ /* < 600px */
      display: block;
  }
}

.footer__bottom > li{
  @include sp{ /* < 600px */
      padding: 10px 0;
  }
}

.footer__bottom > li:not(:last-of-type){
  margin-right: 10px;

  @include sp{ /* < 600px */
      margin-right: 0;
  }
}